:root{
    --white-light: rgba 255, 255, 255, 0,5;
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.logo h1 a {
    font-family: 'Sora', sans-serif;
    text-decoration:none;
    color:white ;   
    margin-bottom: 100px;   
}
.menu :hover{
    background: rgb(184, 145, 145);
}
.menu a{
    border-radius: 50px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: #111;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 30px 20px;
    padding: 10px;
    border: 1px solid;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.Ig-title,
.md-title,
.sm-title{
    font-family:'Poppins',sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.Ig-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.Ig-title a{
  color: black ;
}
.md-title{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    
}
.sm-title{
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'sora',sans-serif;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
    font-family: 'sora',sans-serif;
    color:gray;
    
}
/*products section*/
.products{
    background: var(--alice-blue);
    padding: 3.2rem;
    
}
.product .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
    
}
.product{
    margin: 2rem;
    position: relative;
}
.product-content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer; 
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 1;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: 'sora',sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6 ease;
}

.btn-cart {
background: black;
color: white;
}
.btn-cart:hover{
background: var(--carribean-green);
}
.btn-buy{
background: white;
}
.btn-buy:hover {
    background : gray;
    color: white;
}
.product-info{
    background: white;
    padding: 2rem;        
}
.product-info-top{
display: flex;
justify-content: space-between ;
align-items: center;

}
.rating span{
    color: gold;

}
.product-name{
color: black;
display: block;
text-decoration:none ;
font-size: 1rem;
text-transform: uppercase;
font-weight: bold;
font-family: 'Poppins', sans-serif;
}
.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}
.product-price1{
    text-decoration: line-through;
    color: var(--carribean-green);
    font-family: 'Poppins', sans-serif;
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-img img{
    transition: transform 0.6 ease;

}
.product:hover .product-img img {
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg) ;
    z-index: 1; 
    letter-spacing: 3px;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 100px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: khaki;
    min-width: 50px;
    margin: 10px;
    padding: 20px 20px;
    z-index: 5;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 50px;
  }


